<%= form_for(@post_cat) do |f| %>
  <% if @post_cat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post_cat.errors.count, "error") %> prohibited this post_cat from being saved:</h2>

      <ul>
      <% @post_cat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :post_id %><br>
    <%= f.text_field :post_id %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.text_field :category_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
